.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./assets/Sparkling Bubbles Shop.gif');
    background-size: cover;
    background-position: center;
}

.auth-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

.auth-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.auth-form input[type="email"]:focus,
.auth-form input[type="password"]:focus,
.auth-form input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

.auth-form button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.auth-form button[type="submit"]:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.auth-form .error-message {
    color: red;
    margin-top: 10px;
}

.auth-form .register-button {
    margin-top: 10px;
    background-color: transparent;
    color: #007BFF;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%;
}

.auth-form .register-button:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .auth-form {
        padding: 20px;
        height: auto;
    }

    .auth-form h2 {
        font-size: 20px;
    }

    .auth-form button[type="submit"],
    .auth-form .register-button {
        font-size: 14px;
    }
}
